# Port, na którym będzie działał serwer backendu
PORT=5000

# Tryb pracy aplikacji (development, production lub test)
# W trybie 'production' niektóre funkcje, jak np. bezpieczne ciasteczka (secure cookies), są włączane.
NODE_ENV=development

# Adres URL do połączenia z bazą danych MongoDB.
# Dla środowiska Docker, użyj 'mongodb://mongo:27017/gym-tracker'
# Dla lokalnego rozwoju, użyj 'mongodb://localhost:27017/gym-tracker'
MONGO_URI=mongodb://localhost:27017/gym-tracker

# Tajny klucz do podpisywania tokenów JWT.
# Powinien to być długi, losowy ciąg znaków.
# Możesz go wygenerować np. za pomocą polecenia: openssl rand -base64 32
JWT_SECRET=twoj_bardzo_tajny_klucz_jwt

# Czas ważności tokena JWT.
# Przykłady: '30d' (30 dni), '1h' (1 godzina), '7d' (7 dni)
JWT_EXPIRE=30d

# Czas życia ciasteczka przechowującego token (w dniach).
# Ta wartość powinna być zgodna z czasem ważności tokena JWT.
# Na przykład, jeśli JWT_EXPIRE to '30d', ta wartość powinna wynosić 30.
JWT_COOKIE_EXPIRE=30